<% if user_signed_in? %>
 

 <% if (current_user.subscription_seats == 0 ) || (current_user.subscription_seats == nil)%>

    
 <div class="alert alert-danger" role="alert">Please upgrade to a paid subscription. You dont have a subscription seats. </div>
 
<% else %>

<%= render 'flow' %>

 <% end %>

 <% end %>