
<footer class="footer1 lead mb-5">
      <p>Questions? Call 1-866-579-7172</p>
        <div class="footer1-cols">
            <ul>
                <li><a href="/pages/faq" class="lead mb-5">FAQ</a></li>
                <li><a href="#" class="lead mb-5">Investor Relations</a></li>
                <li><a href="#" class="lead mb-5">Ways To Watch</a></li>
                <li><a href="#" class="lead mb-5">Corporate Information</a></li>
                
            </ul>
            <ul>
                <li><a href="#" class="lead mb-5">Help Center</a></li>
                <li><a href="#" class="lead mb-5">Jobs</a></li>
                <li><a href="#" class="lead mb-5">Terms of Use</a></li>
                <li><a href="#" class="lead mb-5">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="/users/sign_in" class="lead mb-5">Account</a></li>
                <li><a href="#" class="lead mb-5">Redeem Gift Cards</a></li>
                <li><a href="/pages/privacy" class="lead mb-5">Privacy</a></li>
                <li><a href="#" class="lead mb-5">Speed Test</a></li>
            </ul>
            <ul>
                
                <li><a href="#" class="lead mb-5">Buy Gift Cards</a></li>
                <li><a href="#" class="lead mb-5">Cookie Preferences</a></li>
                <li><a href="#" class="lead mb-5">Corporate Information</a></li>
                <li><a href="#" class="lead mb-5">Legal Notices</a></li>
            </ul>
            <ul>
                <li><a href="/pages/media" class="lead mb-5">Media Center</a></li>
                <li><a href="#" class="lead mb-5">Tracking</a></li>
                 <li><a href="/pages/media" class="lead mb-5">Reporting</a></li>
                <li><a href="#" class="lead mb-5">Classifying</a></li>

            </ul>
        </div>
</footer>
 <footer id="main-footer1">
    <div class="center lead mb-5">
                <p>Copyright &copy; 2021, Driversnote.com All Rights Reserved</p>
                <div>
            <a href="/">Home</a> | <a href="#">Terms Of Use</a> | <a href="#">Privacy Policy</a>
                </div>
    

    </div>
</footer>

