
<div class="jumbotron jumbotron-fluid mb-0">
		<div class="container">
			<div class="update">
			<p class="py-1 px-2"><span class="soon mx-2 p-1">SOON</span>Find:
			Instant road mapping routes coming out soon <i class="fas fa-chevronright"></
			i></i>
			</p>
			</div>
			<h1 class="display-4 text-gray">Your intelligent mileage tracker</h1>
			<p class="lead mb-5">Put your mileage log on autopilot. Let your phone track your trips, and get tax compliant mileage reports ready to hand over anytime.</p>
			<div class="buttons">
			<%= render btnStart %>
			<a class="btn btn-primary disabled" href="#">Find Route coming soon!!!
			</a>
			</div>
		</div>
</div>


<div class="text-right">
<img class="header-image d-none d-md-block mt-3" src="<%=
image_path('mobile.png') %>" alt="">
</div>

