<%= render 'home/partials/nav' %>
			<div class="card">
              <div class="card-body">
                <h5 class="card-title">About Us</h5>

                <p class="card-text">
                  Welcome to driversnote. Ease as the driving factor. We're a <strong>small SaaS startup</strong> based in the heart of <strong>Copenhagen</strong>. We strive to make working life simpler for our customers while saving them time and money. We take pride in helping more than 750.000 users around the world keep a Mileage Logbook.
 
                </p>

              </div>
            </div>




<%= render 'shared/footer'%>

